body{
      margin:0;
}

/*
#bodyGame{
      max-height : 700px;
}
*/
#jeu{
      width: 80%;
      height: 80%;
      overflow: hidden;
      position: relative;
      max-height : 800px;
    }
    
    .fond{
      margin-bottom:-5px; 
      z-index: 10;
      position: relative;
    }
    
    #joueur{
      z-index: 100; 
      position: absolute; 
      top: 510px; 
      left: 48px;
      max-width : 150px;
      max-height : 150px;
    }
    
    #vr{
      z-index: 80; 
      position: absolute; 
      top: -200px; 
      left: 0px;
      max-width : 150px;
      max-height : 150px;
    }
#game {
	visibility : hidden;
}


#imgJoueur {
	 max-width : 150px;
     max-height : 150px;
    cursor: pointer;
}

#menu {
	text-align : center;
}

#lienMenu {
	display : none;
}
#compteur{
    position: relative;
    top: 50px;
}
#collisions, #puissances, #vitesses{
    position: relative;
    display: inline-block;
    font-size: x-large;
    font-family: Verdana;
    font-weight: bold;
}
#collisions{
    left: 50px;
}
#puissances{
    left: 100px;
}
#vitesses{
    left: 150px;
}