body{
      margin:0;
}

/*
#bodyGame{
      max-height : 700px;
}
*/
#jeu{
      width: 80%;
      height: 80%;
      overflow: hidden;
      position: relative;
      max-height : 800px;
    }
    
    .fond{
      margin-bottom:-5px; 
      z-index: 10;
      position: relative;
    }
    
    #joueur{
      z-index: 100; 
      position: absolute; 
      top: 510px; 
      left: 48px;
      max-width : 150px;
      max-height : 150px;
    }
    
    #vr{
      z-index: 80; 
      position: absolute; 
      top: -200px; 
      left: 0px;
      max-width : 150px;
      max-height : 150px;
    }
#game {
	visibility : hidden;
}


#imgJoueur {
	 max-width : 150px;
     max-height : 150px;
    cursor: pointer;
}

#menu {
	text-align : center;
}

#compteur{
    position: relative;
    top: 50px;
}
#collisions, #puissances, #vitesses, #aleatoire, #choisirpersonnage{
    display: inline-block;
}
 #aleatoire, #choisirpersonnage{
     width: 48%;
}
#collisions, #puissances, #vitesses, #menu a, #menu p{
    position: relative;
    font-size: x-large;
    font-family: Verdana;
    font-weight: bold;
}
#menu a, #menu a:visited{
    text-decoration: none;
    color: black;
}
#collisions{
    left: 50px;
}
#puissances{
    left: 100px;
}
#vitesses{
    left: 150px;
}
#menu {
    text-align: center;
    top: 200px;
    position: relative;
    visibility: visible;
}
#lienMenu {
	display : none;
	border: 3px solid black;
    padding: 10px;
    top: 50px;
}
#lienMenu:hover {
	color: white !important;
	background-color: black;
	border-color: white;
}