
    #jeu{
      width: 1000px;
      height: 800px;
      overflow: hidden;
      position: relative;
    }
    
    .fond{
      margin-bottom:-5px; 
      z-index: 10;
      position: relative;
    }
    
    #joueur{
      z-index: 100; 
      position: absolute; 
      top: 600px; 
      left: 48px;
      max-with : 150px;
      max-height : 150px;
    }
    
    #vr{
      z-index: 80; 
      position: absolute; 
      top: -200px; 
      left: 0px;
      max-with : 150px;
      max-height : 150px;
    }
#game {
	visibility : hidden;
}


#imgJoueur {
	 max-with : 150px;
     max-height : 150px;
}

#menu {
	text-align : center;
	margin-top : 25%;
}

#lienMenu {
	display : none;
}